body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

li {
  list-style: none;
}

p {
  display: block;
  margin: 0 0 10px;

}

header {
  background-color: #6f5499;
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  padding: 30px 15px;
  text-shadow: 0 1px 0 rgba(0,0,0,1);
}

header a {
  color: inherit;
}

header p {
  margin-bottom: 0;
  font-weight: 300;line-height: 1.4;
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
  border-radius: 6px;
  font-size: 18px;
  outline: black 1px;
  padding: 10px 16px;
}


